{% extends 'base.html' %}
{% load static %}

{% block title %}

  Add new document

{% endblock title %}


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  {% for form in forms %}
    <div class="form-group d-flex justify-content-between">
      <label for="exampleInputEmail1">{{ form.label_tag }}</label>    
      {{ form }}
    </div>
  {% endfor %}
  
  {{ form }}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Update Record">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Add new document">
  {% endif %}
</form>


{% endblock content %}
