{% extends 'base.html' %}

{% block title %}Утвердители{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'instructor_create' %}">
  <i class="fas fa-plus"></i> Новый преподователь</a
{% endblock breadcrumb %}

{% block content %}
  <table id="stafftable" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Академический уровень</th>
        <th>Ученая степень</th>
      </tr>
    </thead>
    <tbody>

      {% for instructor in instructors %}
      {% comment %} data-href="{% url 'staff-detail' staff.id %}" {% endcomment %}
        <tr class='clickable-row'>
          <td>{{ forloop.counter}}</td>
          <td>{{ instructor.name}} </td>
          <td>{{ instructor.academic_level}}</td>
          <td>{{ instructor.academic_degree}}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}


{% block morejs %}
<script>
   $('#stafftable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}
